[submodule "third_party/XbSymbolDatabase"]
	path = third_party/XbSymbolDatabase
	url = https://github.com/Cxbx-Reloaded/XbSymbolDatabase.git
	ignore = untracked
[submodule "third_party/Cxbx-Reloaded"]
	path = third_party/Cxbx-Reloaded
	url = https://github.com/Cxbx-Reloaded/Cxbx-Reloaded.git
[submodule "third_party/xemu"]
	path = third_party/xemu
	url = https://github.com/xemu-project/xemu.git
[submodule "third_party/nxdk"]
	path = third_party/nxdk
	url = https://github.com/XboxDev/nxdk.git
